@font-face {
  font-family: 'Liberation Sans';
  font-style: normal;
  font-weight: 400;
  src: local('LiberationSans'), url(fonts/LiberationSans.woff) format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Fjalla-one'), url(fonts/Raleway.woff) format('woff');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand'), url(fonts/Quicksand.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'), url(fonts/Montserrat.woff) format('woff');
}


$font-sans: 'Quicksand', Helvetica, sans-serif;
$font-heading: 'Quicksand', Helvetica, sans-serif;
