// https://color.adobe.com/Miami-Sunset-color-theme-4099955/edit/?copy=true

$pink: #FE3FEF;
$peach: #FFF6E5;
$sky: #7ECEFD;
$teal: #1695A3;
$purple: #4D21C5;
$white: #FAFAFA;
$gray: #3E454C;
$lightgray: lighten($gray, 65%);
$black: #333333;

