// https://color.adobe.com/Miami-Sunset-color-theme-4099955/edit/?copy=true

$orange: #FF7F66;
$peach: #FFF6E5;
$sky: #7ECEFD;
$teal: #1695A3;
$purple: #4D21C5;
$white: #FFFFFF;
$gray: #3E454C;
$black: #000000;

