// http://paletton.com/#uid=32R0s0kF6F+aCI6kUA8PjpVU7jD

$highlight: #B0D2EF;
$hi-highlight: #00D91B;
$base: #6F00E2;
$white: #f6f6f6;
$gray: #3E454C;
$lightgray: lighten($gray, 80%);
$black: #0a0a0a;

