@import "colors.scss";
@import "navigation.scss";
@import "animations.scss";
@import "fonts/fonts.scss";

$spinkit-spinner-margin: 40px auto !default;
$spinkit-size: 40px !default;
$spinkit-spinner-color: $black !default;
@import "node_modules/spinkit/scss/spinkit";
$fa-font-path: "../../node_modules/font-awesome/fonts";
@import "node_modules/font-awesome/scss/font-awesome";
.icon-user {
  @extend .fa;
  @extend .fa-user;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3.5em;
  font-family: $font-heading;
  padding-bottom: 0.25em;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
  font-family: $font-heading;
  padding-bottom: 0.25em;
  text-transform: uppercase;
}

h3 {
  font-family: $font-heading;
  padding: 1em 0em;
  font-size: 1.5em;
}

h4 {
  font-family: $font-heading;
  padding: 1em 0em;
  font-size: 1.2em;
}

h5 {
  padding: 1em 0em;
  font-size: 0.9em;
}

body, html {
  background: $black;
  // background-image: url('../images/bg.jpg');
  // background-size: cover;
  font-family: $font-sans;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: $black;
}

hr {
  background: $lightgray;
  height: 1px;
  border: none;
}

p {
  margin: 0em 0em 1em;
  font-size: 1em;
  line-height: 1.5em;
}

a {
  color: $highlight;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

table {
  width: 100%;
}

blockquote {
  margin: 0;
  padding: 0;
}

td {
  padding-right: 1em;
  font-family: $font-mono;
  font-size: 0.8em;
}

th {
  text-align: left;
  padding-bottom: 0.5em;
}

.chatalytics {
  background: $lightgray;
  padding: 5em 2em;
  border-bottom: 1px solid $gray;
}

#attribution {
  color: $lightgray;
  font-size: 0.9em;
  position: absolute;
  bottom: 1em;
  right: 1em;
}

#navigation {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
  color: $white;
  padding: 1em 2em;
  background: $black;
  width: 100%;
  font-size: 0.8em;
  text-transform: uppercase;
}

#content {
  background: $white;
  padding: 2em;
}

#about, #footer {
  background: $black;
  padding: 2em;
  color: $white;
}

#title {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 30%, $black 100%);
  color: $white;
  td {
    color: $white;
  }
}

svg {
  width: 100%;
  height: 100%;
}

.entity-container {

}

.entity-mini {
  min-width: 250px;
  font-family: $font-mono;
  font-size: 0.8em;
  padding: 0.5em 0em;
  margin-right: 1em;
  float: left;

  div {
    margin: 0.1em;
  }
}

.entity-mini-title {
  padding: 0em 0em 0.5em;
}

$award-size: 60px;
.awards {
  padding: 1.5em 0;

  h1, h2, h3 {
    padding: 0em 0em 0.25em;
  }
}

.awards > div {
  width: 33%;
}

.award-one {
  margin: 0em 1em 0em 0em;
	border-radius: 50%;
	width: $award-size;
	height: $award-size;
  font-size: 1.5em;
  text-align: center;
  vertical-align: middle;
  line-height: $award-size;
  background: #D4AF37;
  border: 10px solid darken(#D4AF37, 10%);
  color: $white;
}

.award-two {
  margin: 0em 1em;
	border-radius: 50%;
	width: $award-size;
	height: $award-size;
  font-size: 1.5em;
  text-align: center;
  vertical-align: middle;
  line-height: $award-size;
  background: #C0C0C0;
  border: 10px solid darken(#C0C0C0, 10%);
  color: $white;
}

.award-three {
  margin: 0em 1em;
	border-radius: 50%;
	width: $award-size;
	height: $award-size;
  font-size: 1.5em;
  text-align: center;
  vertical-align: middle;
  line-height: $award-size;
  background: #CD7F32;
  border: 10px solid darken(#CD7F32, 10%);
  color: $white;
}

.emoji {
  height: 20px;
  margin-right: 10px;
}

.user {
  margin-right: 10px;
}