@import 'src/colors.scss';

#banner {
  background: url('../../assets/images/banner.jpg');
  background-size: cover;
  color: $white;
  padding: 5em 0;

  h1 {
    color: $white;
    font-weight: 700;
  }

  p {
    margin-bottom: 15px;
    font-size: 23px;
    font-weight: 200;
  }
}