$fa-font-path: "../../node_modules/font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/variables.scss";
@import "../../node_modules/font-awesome/scss/mixins.scss";
@import "../../node_modules/font-awesome/scss/path.scss";
@import "../../node_modules/font-awesome/scss/core.scss";
@import "../../node_modules/font-awesome/scss/icons.scss";

#banner {
  background: url('../images/banner.jpg');
  // background-size: cover;
  background-position: center;
  // color: white;
}