@import "../node_modules/antd/dist/antd.css";
@import "../node_modules/nprogress/nprogress.css";
@import url("https://fonts.googleapis.com/css?family=News+Cycle:400,700");
html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #777777;
  background-color: #ffffff;
}

#container {
  min-height: 100%;
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: #000000;
  small {
    font-weight: normal;
    line-height: 1;
    color: #999999;
    font-size: 65%;
  }
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  margin: 0.45em 0;
}

h3 {
  margin: 0.35em 0;
}

.page-header {
  padding-bottom: 9.5px;
  margin: 42px 0 21px;
  border-bottom: 1px solid #eeeeee;
}

.ant-row {
  max-width: 1070px;
  margin: 0 auto;
}

.ant-back-top {
  bottom: 100px;
}